
  
  <!-- Hero Section -->
  <div class="hero-section text-center text-white d-flex align-items-center justify-content-center">
    <div class="container">
      <h1 class="display-4 fw-bold mb-4">SAVE GOOD FOOD FROM GOING TO WASTE</h1>
      <div class="d-flex justify-content-center gap-3">
        <a href="#" class="btn btn-outline-light btn-lg" routerLink="/FoodCat" >FIND SOMETHING TO EAT</a>
      </div>
    </div>
  
    <!-- Wave Animation -->
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
  